---
export async function get({ params }) {
  console.log("SSR FUNCIONANDO - params:", params);
  return {
    props: {
      mensaje: "SSR FUNCIONA",
      slug: params.slug,
    }
  };
}

const { mensaje, slug } = Astro.props;
---
<h1>{mensaje}</h1>
<pre>{JSON.stringify(slug, null, 2)}</pre>
